extends layout

block content
  .form-container
    img(src='/img/logo.png')
    h2  Chat Rooms App  
    p Join our community and chat with 
      br
      |  your friends for FREE !
    form(method='POST' autocomplete='off')
      label(for='username') Chose your username:
      input(type='text' name='username' required)
      label(for='username') Enter your email:
      input(type='email' name='email' required)
      label(for='password') Provide your password:
      input(type='password' name='password' required)
      button.btn.btn-primary(type='submit')  Sign Up
    p
      | Already a member ? 
      a(href='/') Sign In
